<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Contexto" data-toc-modified-id="Contexto-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Contexto</a></span></li><li><span><a href="#Leer-datos" data-toc-modified-id="Leer-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Leer datos</a></span></li><li><span><a href="#Análisis-exploratorio-de-nuestros-datos:" data-toc-modified-id="Análisis-exploratorio-de-nuestros-datos:-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Análisis exploratorio de nuestros datos:</a></span></li><li><span><a href="#Transformación" data-toc-modified-id="Transformación-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Transformación</a></span><ul class="toc-item"><li><span><a href="#Columna-shopping-cart" data-toc-modified-id="Columna-shopping-cart-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Columna <code>shopping cart</code></a></span></li><li><span><a href="#Columna-de-latest_customer_review" data-toc-modified-id="Columna-de-latest_customer_review-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Columna de latest_customer_review</a></span></li><li><span><a href="#Columna-latest_customer_review" data-toc-modified-id="Columna-latest_customer_review-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Columna <code>latest_customer_review</code></a></span></li><li><span><a href="#Columna-season" data-toc-modified-id="Columna-season-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Columna <code>season</code></a></span></li><li><span><a href="#Columna-nearest_warehouse" data-toc-modified-id="Columna-nearest_warehouse-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Columna <code>nearest_warehouse</code></a></span></li></ul></li><li><span><a href="#Guardamos-los-datos-limpios" data-toc-modified-id="Guardamos-los-datos-limpios-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Guardamos los datos limpios</a></span></li></ul></div>

In [1]:
import re
import numpy as np
import pandas as pd

# Contexto
Este dataset contiene información sobre una tienda electrónica en línea. La tienda tiene tres almacenes desde los que se entregan los productos a los clientes.

Columnas: 

- `order_id`: identificador único para cada pedido


- `customer_id`: id único para cada cliente


- `date`: La fecha en que se realizó el pedido, en formato AAAA-MM-DD



- `nearest_warehouse`: el nombre del almacén más cercano al cliente



- `shopping_cart`: lista de tuplas que representan los artículos del pedido: el primer elemento de el primer elemento de la tupla es el artículo pedido, y el segundo elemento es la cantidad pedida para dicho artículo.



- `order_price`: precio del pedido en USD. El precio del pedido es el precio de los artículos antes de que se apliquen descuentos. 


- `delivery_charges`: los gastos de envío del pedido


- `customer_lat`: latitud de la ubicación del cliente


- `customer_long`: longitud de la ubicación del cliente


- `coupon_discount`: el porcentaje de descuento que se aplicará al el precio del pedido.


- `order_total`: total del pedido en USD después de aplicar todos los descuentos y/o gastos de envío.


- `season`: la época en la que se realizó el pedido.


- `is_expedited_delivery`: indica si el cliente ha solicitado una entrega rápida


- `distance_to_nestest_warehouse`: la distancia en kilómetros, entre el cliente y el almacén más cercano a él.


- `latest_customer_review`: la última opinión del cliente sobre su pedido más reciente


- `is_happy_customer`: indica si el cliente es un cliente feliz o tuvo un problema con su último pedido.

# Leer datos

In [33]:
df = pd.read_csv("../data/resultado_query.csv", index_col = 0)

In [34]:
df.head(2)

,_id,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"[('iStream', 2), ('Olivia x460', 1), ('Toshika...",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,..."
1,6207771e6828d639036be52f,ORD371930,ID6231506306,2019-06-29,Nickolson,"[('Alcon 10', 2), ('Toshika 750', 2)]",26540,76.53,-37.824801,144.969024,0,26616.53,Winter,True,0.6924,ok ok,True,"{'type': 'Point', 'coordinates': [144.9690242,..."

In [35]:
df.date.unique()

array(['2019-11-11', '2019-06-29', '2019-10-10', '2019-01-28',
       '2019-12-19', '2019-06-17', '2019-09-07', '2019-07-02',
       '2019-10-29', '2019-12-08', '2019-03-10', '2019-06-13',
       '2019-04-20', '2019-10-25', '2019-01-04', '2019-02-16',
       '2019-06-22', '2019-09-09', '2019-08-06', '2019-05-12',
       '2019-01-09', '2019-04-08', '2019-11-06', '2019-03-21',
       '2019-04-13', '2019-07-07', '2019-11-04', '2019-08-07',
       '2019-09-14', '2019-01-24', '2019-01-08', '2019-10-12',
       '2019-01-21', '2019-01-16', '2019-02-21', '2019-01-18',
       '2019-04-23', '2019-09-12', '2019-08-05', '2019-02-02',
       '2019-12-16', '03-28-2019', '2019-02-26', '2019-03-02',
       '2019-02-28', '2019-08-26', '2019-11-03', '2019-03-24',
       '2019-04-25', '2019-05-05', '2019-12-05', '03/27/2019',
       '2019-07-18', '2019-04-07', '2019-09-11', '2019-05-15',
       '2019-02-24', '2019-01-13', '2019-12-12', '2019-05-17',
       '2019-08-13', '2019-12-24', '2019-07-21', '2019-04-02',
       '2019-07-15', '2019-10-14', '2019-06-21', '2019-11-02',
       '2019-10-16', '2019-08-03', '2019-05-27', '2019-07-05',
       '2019-12-01', '2019-06-03', '2019-05-21', '2019-07-30',
       '2019-07-25', '2019-02-14', '2019-06-16', '2019-02-19',
       '2019-09-23', '04/20/2019', '2019-04-28', '2019-11-17',
       '2019-05-25', '08-18-2019', '2019-01-23', '2019-12-13',
       '2019-01-22', '2019-10-20', '2019-04-03', '05/12/2019',
       '2019-02-05', '2019-02-12', '2019-05-07', '2019-10-08',
       '2019-05-03', '2019-07-11', '2019-11-27', '2019-09-29',
       '2019-04-05', '2019-06-20', '2019-07-09', '2019-08-17',
       '2019-06-05', '2019-02-27', '03-13-2019', '2019-09-04',
       '2019-08-21', '2019-11-23', '2019-04-18', '2019-02-20',
       '2019-12-09', '2019-01-12', '2019-03-01', '2019-09-01',
       '2019-12-06', '2019-09-25', '2019-11-13', '2019-05-16',
       '2019-05-24', '2019-06-26', '2019-01-15', '2019-09-10',
       '2019-09-17', '2019-01-20', '2019-03-31', '2019-04-09',
       '2019-05-28', '2019-10-17', '12-09-2019', '2019-09-03',
       '2019-07-23', '2019-03-12', '2019-08-09', '01 27 2019',
       '2019-03-04', '2019-03-19', '2019-11-21', '2019-10-05',
       '2019-11-24', '05/06/2019', '2019-10-11', '2019-01-07',
       '2019-07-03', '2019-06-23', '2019-06-01', '2019-07-27',
       '2019-06-10', '2019-08-16', '2019-12-21', '2019-06-25',
       '2019-10-01', '2019-03-07', '2019-03-06', '2019-10-26',
       '2019-05-08'], dtype=object)

In [4]:
df.shape

(268, 18)

# Análisis exploratorio de nuestros datos:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 0 to 267
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _id                            268 non-null    object
 1   order_id                       268 non-null    object
 2   customer_id                    268 non-null    object
 3   date                           268 non-null    object
 4   nearest_warehouse              268 non-null    object
 5   shopping_cart                  268 non-null    object
 6   order_price                    268 non-null    int64
 7   delivery_charges               268 non-null    float64
 8   customer_lat                   268 non-null    float64
 9   customer_long                  268 non-null    float64
 10  coupon_discount                268 non-null    int64
 11  order_total                    268 non-null    float64
 12  season                         268 non-null    object
 13  is_expedited_delivery          268 non-null    bool
 14  distance_to_nearest_warehouse  268 non-null    float64
 15  latest_customer_review         268 non-null    object
 16  is_happy_customer              268 non-null    bool
 17  geometria                      268 non-null    object
dtypes: bool(2), float64(5), int64(2), object(9)
memory usage: 36.1+ KB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_price,268.0,25414.589552,83839.758451,1010.000000,6787.500000,13007.500000,21245.000000,865916.000000
delivery_charges,268.0,75.225634,13.952814,48.550000,65.220000,75.090000,80.095000,106.980000
customer_lat,268.0,-37.816379,0.005069,-37.827123,-37.820488,-37.816187,-37.812174,-37.805979
customer_long,268.0,144.965724,0.009947,144.945619,144.958985,144.965357,144.971889,144.990589
coupon_discount,268.0,10.708955,8.625652,0.000000,5.000000,10.000000,15.000000,25.000000
order_total,268.0,26614.743545,99483.405419,915.000000,5983.150000,11374.780000,18919.640000,909463.940000
distance_to_nearest_warehouse,268.0,1.571623,6.843761,0.107800,0.622925,0.859600,1.105200,68.889200

In [7]:
df.isnull().sum()

_id                              0
order_id                         0
customer_id                      0
date                             0
nearest_warehouse                0
shopping_cart                    0
order_price                      0
delivery_charges                 0
customer_lat                     0
customer_long                    0
coupon_discount                  0
order_total                      0
season                           0
is_expedited_delivery            0
distance_to_nearest_warehouse    0
latest_customer_review           0
is_happy_customer                0
geometria                        0
dtype: int64

In [8]:
df.duplicated().sum()

0

# Transformación

## Columna `shopping cart`

In [9]:
df['shopping_cart'][0]

"[('iStream', 2), ('Olivia x460', 1), ('Toshika 750', 1), ('pearTV', 2)]"

In [10]:
import ast

df['shopping_cart'] = df['shopping_cart'].apply(ast.literal_eval)

In [11]:
df['shopping_cart'][0]

[('iStream', 2), ('Olivia x460', 1), ('Toshika 750', 1), ('pearTV', 2)]

In [12]:
df = df.explode('shopping_cart')

In [13]:
df.head(2)

,_id,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"(iStream, 2)",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,..."
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"(Olivia x460, 1)",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,..."

In [14]:
df[["producto", "cantidad"]] = df.shopping_cart.apply(pd.Series)

In [15]:
df.head(2)

,_id,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria,producto,cantidad
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"(iStream, 2)",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",iStream,2
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,"(Olivia x460, 1)",18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",Olivia x460,1

In [16]:
df.drop(["shopping_cart"], axis = 1,  inplace = True)

In [17]:
df.head(2)

,_id,order_id,customer_id,date,nearest_warehouse,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria,producto,cantidad
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",iStream,2
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",Olivia x460,1

## Columna de latest_customer_review

In [18]:
# primero la convertimos a datetime

df.date = pd.to_datetime(df.date)

In [32]:
df.date.unique()

array(['2019-11-11T00:00:00.000000000', '2019-06-29T00:00:00.000000000',
       '2019-10-10T00:00:00.000000000', '2019-01-28T00:00:00.000000000',
       '2019-12-19T00:00:00.000000000', '2019-06-17T00:00:00.000000000',
       '2019-09-07T00:00:00.000000000', '2019-07-02T00:00:00.000000000',
       '2019-10-29T00:00:00.000000000', '2019-12-08T00:00:00.000000000',
       '2019-03-10T00:00:00.000000000', '2019-06-13T00:00:00.000000000',
       '2019-04-20T00:00:00.000000000', '2019-10-25T00:00:00.000000000',
       '2019-01-04T00:00:00.000000000', '2019-02-16T00:00:00.000000000',
       '2019-06-22T00:00:00.000000000', '2019-09-09T00:00:00.000000000',
       '2019-08-06T00:00:00.000000000', '2019-05-12T00:00:00.000000000',
       '2019-01-09T00:00:00.000000000', '2019-04-08T00:00:00.000000000',
       '2019-11-06T00:00:00.000000000', '2019-03-21T00:00:00.000000000',
       '2019-04-13T00:00:00.000000000', '2019-07-07T00:00:00.000000000',
       '2019-11-04T00:00:00.000000000', '2019-08-07T00:00:00.000000000',
       '2019-09-14T00:00:00.000000000', '2019-01-24T00:00:00.000000000',
       '2019-01-08T00:00:00.000000000', '2019-10-12T00:00:00.000000000',
       '2019-01-21T00:00:00.000000000', '2019-01-16T00:00:00.000000000',
       '2019-02-21T00:00:00.000000000', '2019-01-18T00:00:00.000000000',
       '2019-04-23T00:00:00.000000000', '2019-09-12T00:00:00.000000000',
       '2019-08-05T00:00:00.000000000', '2019-02-02T00:00:00.000000000',
       '2019-12-16T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2019-02-26T00:00:00.000000000', '2019-03-02T00:00:00.000000000',
       '2019-02-28T00:00:00.000000000', '2019-08-26T00:00:00.000000000',
       '2019-11-03T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-04-25T00:00:00.000000000', '2019-05-05T00:00:00.000000000',
       '2019-12-05T00:00:00.000000000', '2019-03-27T00:00:00.000000000',
       '2019-07-18T00:00:00.000000000', '2019-04-07T00:00:00.000000000',
       '2019-09-11T00:00:00.000000000', '2019-05-15T00:00:00.000000000',
       '2019-02-24T00:00:00.000000000', '2019-01-13T00:00:00.000000000',
       '2019-12-12T00:00:00.000000000', '2019-05-17T00:00:00.000000000',
       '2019-08-13T00:00:00.000000000', '2019-12-24T00:00:00.000000000',
       '2019-07-21T00:00:00.000000000', '2019-04-02T00:00:00.000000000',
       '2019-07-15T00:00:00.000000000', '2019-10-14T00:00:00.000000000',
       '2019-06-21T00:00:00.000000000', '2019-11-02T00:00:00.000000000',
       '2019-10-16T00:00:00.000000000', '2019-08-03T00:00:00.000000000',
       '2019-05-27T00:00:00.000000000', '2019-07-05T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2019-06-03T00:00:00.000000000',
       '2019-05-21T00:00:00.000000000', '2019-07-30T00:00:00.000000000',
       '2019-07-25T00:00:00.000000000', '2019-02-14T00:00:00.000000000',
       '2019-06-16T00:00:00.000000000', '2019-02-19T00:00:00.000000000',
       '2019-09-23T00:00:00.000000000', '2019-04-28T00:00:00.000000000',
       '2019-11-17T00:00:00.000000000', '2019-05-25T00:00:00.000000000',
       '2019-08-18T00:00:00.000000000', '2019-01-23T00:00:00.000000000',
       '2019-12-13T00:00:00.000000000', '2019-01-22T00:00:00.000000000',
       '2019-10-20T00:00:00.000000000', '2019-04-03T00:00:00.000000000',
       '2019-02-05T00:00:00.000000000', '2019-02-12T00:00:00.000000000',
       '2019-05-07T00:00:00.000000000', '2019-10-08T00:00:00.000000000',
       '2019-05-03T00:00:00.000000000', '2019-07-11T00:00:00.000000000',
       '2019-11-27T00:00:00.000000000', '2019-09-29T00:00:00.000000000',
       '2019-04-05T00:00:00.000000000', '2019-06-20T00:00:00.000000000',
       '2019-07-09T00:00:00.000000000', '2019-08-17T00:00:00.000000000',
       '2019-06-05T00:00:00.000000000', '2019-02-27T00:00:00.000000000',
       '2019-03-13T00:00:00.000000000', '2019-09-04T00:00:00.000000000',
       '2019-08-21T00:00:00.000000000', '2019-11-23T00:00:00.000000000',
       '2019-04-18T00:00:00.000000000', '2019-02-20T00:00:00.000000000',
       '2019-12-09T00:00:00.000000000', '2019-01-12T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2019-12-06T00:00:00.000000000', '2019-09-25T00:00:00.000000000',
       '2019-11-13T00:00:00.000000000', '2019-05-16T00:00:00.000000000',
       '2019-05-24T00:00:00.000000000', '2019-06-26T00:00:00.000000000',
       '2019-01-15T00:00:00.000000000', '2019-09-10T00:00:00.000000000',
       '2019-09-17T00:00:00.000000000', '2019-01-20T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-09T00:00:00.000000000',
       '2019-05-28T00:00:00.000000000', '2019-10-17T00:00:00.000000000',
       '2019-09-03T00:00:00.000000000', '2019-07-23T00:00:00.000000000',
       '2019-03-12T00:00:00.000000000', '2019-08-09T00:00:00.000000000',
       '2019-01-27T00:00:00.000000000', '2019-03-04T00:00:00.000000000',
       '2019-03-19T00:00:00.000000000', '2019-11-21T00:00:00.000000000',
       '2019-10-05T00:00:00.000000000', '2019-11-24T00:00:00.000000000',
       '2019-05-06T00:00:00.000000000', '2019-10-11T00:00:00.000000000',
       '2019-01-07T00:00:00.000000000', '2019-07-03T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-07-27T00:00:00.000000000', '2019-06-10T00:00:00.000000000',
       '2019-08-16T00:00:00.000000000', '2019-12-21T00:00:00.000000000',
       '2019-06-25T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2019-03-07T00:00:00.000000000', '2019-03-06T00:00:00.000000000',
       '2019-10-26T00:00:00.000000000', '2019-05-08T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [19]:
df.dtypes

_id                                      object
order_id                                 object
customer_id                              object
date                             datetime64[ns]
nearest_warehouse                        object
order_price                               int64
delivery_charges                        float64
customer_lat                            float64
customer_long                           float64
coupon_discount                           int64
order_total                             float64
season                                   object
is_expedited_delivery                      bool
distance_to_nearest_warehouse           float64
latest_customer_review                   object
is_happy_customer                          bool
geometria                                object
producto                                 object
cantidad                                  int64
dtype: object

## Columna `latest_customer_review`

In [20]:
def opiniones (col):
    good = re.findall(r".*great.*|best| ples.*| good.* | nice | excel.*| five sta.*|four sta.*", col)
    bad = re.findall(r"does not.* | did not.* |didn't| sad.*| wrong| problem.*| terrible | not happy|one sta.*|two sta.*|sorry", col)
    
    if good:
        return "Good"
    elif bad:
        return "Poor"
    else:
        return "neutral"

In [21]:
df["opiniones"] = df.latest_customer_review.apply(opiniones)

In [22]:
df.opiniones.unique()

array(['neutral', 'Good', 'Poor'], dtype=object)

In [23]:
df.opiniones.value_counts()

neutral    362
Good       349
Poor        98
Name: opiniones, dtype: int64

In [24]:
df.head(2)

,_id,order_id,customer_id,date,nearest_warehouse,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer,geometria,producto,cantidad,opiniones
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",iStream,2,neutral
0,6207771e6828d639036be697,ORD037011,ID0847526574,2019-11-11,Nickolson,18465,102.31,-37.823506,144.967576,0,18567.31,Spring,True,0.5736,better than alcon never buy and overpriced alc...,True,"{'type': 'Point', 'coordinates': [144.9675756,...",Olivia x460,1,neutral

##  Columna `season`

In [25]:
# si nos fijamos en los valores únicos de la columna season tenemos algunas que están en mayúsculas y otras en minúsculas

df.season.unique()

array(['Spring', 'Winter', 'Summer', 'Autumn', 'spring'], dtype=object)

In [26]:
# vamos a ponerlas todas con la primera en mayúscula

df.season = df.season.apply(str.capitalize)

In [27]:
# veamos ahora los valores únicos

df.season.unique()

array(['Spring', 'Winter', 'Summer', 'Autumn'], dtype=object)

##  Columna `nearest_warehouse`

In [28]:
# pasa lo mismo que en la columna de season

df.nearest_warehouse.unique()

array(['Nickolson', 'Thompson', 'thompson', 'Bakers'], dtype=object)

In [29]:
df.nearest_warehouse = df.nearest_warehouse.apply(str.capitalize)

In [30]:
# chequeamos los resultados

df.nearest_warehouse.unique()

array(['Nickolson', 'Thompson', 'Bakers'], dtype=object)

# Guardamos los datos limpios

In [31]:
df.to_csv('../data/datos_limpios.csv')